<a href="https://colab.research.google.com/github/kgene521/Calc/blob/master/ekSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

!mkdir spark321
!tar xf spark-3.2.1-bin-hadoop3.2.tgz -C spark321/
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
!mv cars.csv spark321/
!wget -q https://github.com/apache/spark/blob/master/examples/src/main/resources/dir1/file1.parquet
!wget -q https://github.com/apache/spark/blob/master/examples/src/main/resources/dir1/dir2/file2.parquet

!mv file*.parquet spark321/

!pip install -q findspark
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark321/spark-3.2.1-bin-hadoop3.2"
!echo $SPARK_HOME

In [12]:
!pwd

/content

In [16]:
import os
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, lit, concat, lower, upper, substring
from pyspark.sql.functions import min, max, to_date, to_timestamp, lit, date_add, date_sub
from pyspark.sql import functions
from datetime import datetime

findspark.init()
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", 'True') # Property used to format output tables better
# spark
def print_functions():
    foos = dir(functions)
    function_list = ""
    counter = 0
    for x in foos:
      counter = counter + 1
      if x[0] == '_' or counter <= 8:
        continue
      if counter % 10 == 0:
        print(function_list)
        function_list = ""
      else:
        function_list = function_list + ", " + x
    print(function_list)

def cars():
  df = spark.read.csv('/content/spark321/cars.csv', header=True, sep=";")
    # df.show(5, truncate=False)
  df2 = df.limit(5)
  # df2
  # df2.columns
  # df2.dtypes
  # df2.printSchema
  df.limit(5)
  # Creating a list of the schema in the format column_name, data_type
  labels = [
      ('Car',StringType()),
      ('MPG',DoubleType()),
      ('Cylinders',IntegerType()),
      ('Displacement',DoubleType()),
      ('Horsepower',DoubleType()),
      ('Weight',DoubleType()),
      ('Acceleration',DoubleType()),
      ('Model',IntegerType()),
      ('Origin',StringType())
  ]
  # # Creating the schema that will be passed when reading the csv
  # print(labels)
  schema = StructType([StructField (x[0], x[1], True) for x in labels])
  # schema
  df = spark.read.csv('/content/spark321/cars.csv', header=True, sep=";", schema=schema)
  # df.printSchema()
  # df.show(truncate=False)
  # print(df.Car)
  # print("*"*35)
  # df.select(df.Car).show(truncate=False)
  # print(df['car'])
  # print("*"*20)
  # Column name is case sensitive
  # df.select(df['car']).show(truncate=False)

  ### Column name is case insensitive
  # df.select(col('car'), col('CAR')).show(truncate=False)
  ### 1st method
  ### Column name is case sensitive in this usage
  ### print(df.Car, df.Cylinders)
  ### print("*"*40)
  # df.select(df.Car, df.Cylinders).show(truncate=False)
  ### print(df2)
  ### 2nd method
  ### Column name is case insensitive in this usage
  ### print(df['car'],df['cylinders'])
  ### print("*"*40)
  ### df.select(df['caR'],df['cylINDers']).show(truncate=False)
  ### 3rd method
  ### Column name is case insensitive in this usage
  
  # df.select(col('caR'),col('cylINDers')).show(truncate=False)
  ### CASE 1: Adding a new column
  ### We will add a new column called 'first_column' at the end
  
  df = df.withColumn('first_column',lit(1))
  ### lit means literal. It populates the row with the literal value given.
  ### When adding static data / constant values, it is a good practice to use it.
  # df.show(5,truncate=False)
  # CASE 2: Adding multiple columns
  # We will add two new columns called 'second_column' and 'third_column' at the end
  df = df.withColumn('second_column', lit(2)) \
        .withColumn('third_column', lit('Third Column'))
  # lit means literal. It populates the row with the literal value given.
  # When adding static data / constant values, it is a good practice to use it.
  # df.show(5,truncate=False)
  # CASE 3: Deriving a new column from an exisitng one
  # We will add a new column called 'car_model' which has the value of car and model appended together with a space in between 
  
  df = df.withColumn('car_model', concat(col("Car"), lit(" "), col("model")))
  # lit means literal. It populates the row with the literal value given.
  # When adding static data / constant values, it is a good practice to use it.
  # df.show(5,truncate=False)
  #Renaming a column in PySpark
  df = df.withColumnRenamed('first_column', 'new_column_one') \
        .withColumnRenamed('second_column', 'new_column_two') \
        .withColumnRenamed('third_column', 'new_column_three')
  # df.show(truncate=False)

  # Group By a column in PySpark
  # df.groupBy('Origin').count().show(5)

  # Group By multiple columns in PySpark
  # df.groupBy('Origin', 'Model').count().show(5)
  #Remove columns in PySpark
  df = df.drop('new_column_one')
  # df.show(5,truncate=False)

  #Remove multiple columnss in one go
  df = df.drop('new_column_two') \
        .drop('new_column_three')
  # df.show(5,truncate=False)


  # Filtering rows in PySpark
  total_count = df.count()
  # print("TOTAL RECORD COUNT: " + str(total_count))
  europe_filtered_count = df.filter(col('Origin')=='Europe').count()
  # print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
  # df.filter(col('Origin')=='Europe').show(truncate=False)
  # Filtering rows in PySpark based on Multiple conditions
  total_count = df.count()
  # print("TOTAL RECORD COUNT: " + str(total_count))
  europe_filtered_count = df.filter((col('Origin')=='Europe') &
                                    (col('Cylinders')==4)).count() # Two conditions added here
  # print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
  # df.filter(col('Origin')=='Europe').show(truncate=False)

  #Get Unique Rows in PySpark
  # df.select('Origin').distinct().show()



  #Get Unique Rows in PySpark based on mutliple columns
  # df.select('Origin','model').distinct().show()



  # Sort Rows in PySpark
  # By default the data will be sorted in ascending order
  # df.orderBy('Cylinders').show(5, truncate=False)
  # df.orderBy('Horsepower', ascending=False).show(5, truncate=False)

  # Using groupBy aand orderBy together
  # df.groupBy("Origin").count().orderBy('count', ascending=False).show(10)

  # CASE 1: Union When columns are in order
  europe_cars = df.filter((col('Origin')=='Europe') & (col('Cylinders')==5))
  japan_cars = df.filter((col('Origin')=='Japan') & (col('Cylinders')==3))
  # print("EUROPE CARS: "+str(europe_cars.count()))
  # print("JAPAN CARS: "+str(japan_cars.count()))
  # print("AFTER UNION: "+str(europe_cars.union(japan_cars).count()))

  # CASE 1: Union When columns are not in order
  # Creating two dataframes with jumbled columns
  df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
  df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
  # df1.unionByName(df2).show()

  # Functions available in PySpark ######################### Functions in Spark ###
  
  # Similar to python, we can use the dir function to view the avaiable functions
    # print(foos)
  # print_functions()

  # Loading the data
  df = spark.read.csv('/content/spark321/cars.csv', header=True, sep=";", inferSchema=True)

    ### Prints out the details of a function
  ###       help(substring)  ### HELP on the substring() function
  ### alias is used to rename the column name in the output
  # df.select(col('Car'),
  #           lower(col('Car')),
  #           upper(col('Car')),
  #           substring(col('Car'),1,4)
  #           .alias("concatenated value")
  #           ).show(5, False)

  # df.select(col("Car"),
  #           col("model"),
  #           concat(col("Car"), lit(" "), col("model"))
  #           ).show(5, False)

  # df.select(min(col('Weight')), max(col('Weight'))).show()

  # df.select(min(col('Weight'))+lit(10), max(col('Weight')+lit(10))).show()

  df = spark.createDataFrame([('2019-12-25 13:30:00',)], ['DOB'])
  # df.show()
  # df.printSchema()

  ###########################  '2019-12-25 13:30:33',
  df = spark.createDataFrame([(datetime.now()       ,)], ['DOB'])
  df = df.select(to_date(col('DOB'),'yyyy-MM-dd HH:mm:ss'), to_timestamp(col('DOB'),'yyyy-MM-dd HH:mm:ss'))
  # df.show()
  # df.printSchema()

  df = spark.createDataFrame([('25/Dec/2019 13:30:00',)], ['DOB'])
  df = df.select(to_date(col('DOB'),'dd/MMM/yyyy HH:mm:ss'), to_timestamp(col('DOB'),'dd/MMM/yyyy HH:mm:ss'))
  # df.show()
  # df.printSchema()

  ### What is 3 days earlier that the oldest date and 3 days later than the most recent date?

  # create a dummy dataframe
  df = spark.createDataFrame([('1990-01-01',),('1995-01-03',),('2021-03-30',)], ['Date'])
  # find out the required dates
  # df.select(date_add(max(col('Date')),3),
  #           date_sub(min(col('Date')),3)
  #           ).show()

  ### Joins in PySpark

  print('*'*10, "Create two dataframes ", '*'*10)
  cars_df = spark.createDataFrame([[1, 'Car A'],[2, 'Car B'],[3, 'Car C'], [4, 'Car D']], ["id", "car_name"])
  car_price_df = spark.createDataFrame([[1, 1000],[2, 2000],[3, 3000]], ["id", "car_price"])
  # cars_df.show()
  # car_price_df.show()

  # Executing an inner join so we can see the id, name and price of each car in one row
  cdf = cars_df.join(car_price_df,
                    cars_df.id == car_price_df.id,
                    'inner'  ### left, right, outer, full, 
                    ).select(cars_df['id'],
                            cars_df['car_name'],
                            car_price_df['car_price'])
                            # .show(truncate=False)

  # cdf.orderBy(cdf.cars_df['car_price'], ascending=False)
  # cdf.show(truncate=False)

# cars()
# print_functions()

people = [
  {"name":"Michael", "salary":3000},
  {"name":"Andy", "salary":4500},
  {"name":"Justin", "salary":3500},
  {"name":"Berta", "salary":4000}
]

# print(people)

In [20]:
from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName("pySpark Training").config("key1", "10").getOrCreate()

# df = spark.read.csv("/content/spark321/cars.csv", header=True, sep=";")
### Create Temp Table
# df.createOrReplaceTempView("temp")
### SELECT * FROM TEMP
# spark.sql("select * from temp limit 5").show()
### SELECT COUNT(*) FROM TEMP
# spark.sql("select count(*) as total_count from temp").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

+-----------+
|total_count|
+-----------+
|        406|
+-----------+

In [6]:

pips = [['Bob', 85],['Alice',None], [None, 80] ]
xnames = spark.createDataFrame(pips).collect()
xnames
xnames = xnames.withColumnRenamed('_1', 'Name')

[Row(_1='Bob', _2=85), Row(_1='Alice', _2=None), Row(_1=None, _2=80)]

In [21]:
!hdfs dfs -ls

/bin/bash: hdfs: command not found