<a href="https://colab.research.google.com/github/kgene521/Calc/blob/master/ekSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q http://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
# !wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
!mkdir spark321
!tar xf spark-3.2.1-bin-hadoop3.2.tgz -C spark321/
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
!mv cars.csv spark321/
!ls -la spark321/
!cd spark321/;pwd
!cd /content/
!pip install -q findspark
!cd /content/spark321/;pwd;ls -la
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark321/spark-3.2.1-bin-hadoop3.2"
!echo $SPARK_HOME

In [ ]:
import os
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col

findspark.init()
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", 'True') # Property used to format output tables better
# spark
df = spark.read.csv('/content/spark321/cars.csv', header=True, sep=";")
# df.show(5, truncate=False)
df2 = df.limit(5)
# df2
# df2.columns
# df2.dtypes
df2.printSchema
df.limit(5)
# Creating a list of the schema in the format column_name, data_type
from pyspark.sql.types import *
labels = [
     ('Car',StringType()),
     ('MPG',DoubleType()),
     ('Cylinders',IntegerType()),
     ('Displacement',DoubleType()),
     ('Horsepower',DoubleType()),
     ('Weight',DoubleType()),
     ('Acceleration',DoubleType()),
     ('Model',IntegerType()),
     ('Origin',StringType())
]
# # Creating the schema that will be passed when reading the csv
# print(labels)
schema = StructType([StructField (x[0], x[1], True) for x in labels])
# schema
df = spark.read.csv('/content/spark321/cars.csv', header=True, sep=";", schema=schema)
# df.printSchema()
# df.show(truncate=False)
# print(df.Car)
# print("*"*35)
# df.select(df.Car).show(truncate=False)
# print(df['car'])
# print("*"*20)
# Column name is case sensitive
# df.select(df['car']).show(truncate=False)

from pyspark.sql.functions import col
### Column name is case insensitive
# df.select(col('car'), col('CAR')).show(truncate=False)
### 1st method
### Column name is case sensitive in this usage
### print(df.Car, df.Cylinders)
### print("*"*40)
# df.select(df.Car, df.Cylinders).show(truncate=False)
### print(df2)
### 2nd method
### Column name is case insensitive in this usage
### print(df['car'],df['cylinders'])
### print("*"*40)
### df.select(df['caR'],df['cylINDers']).show(truncate=False)
### 3rd method
### Column name is case insensitive in this usage
from pyspark.sql.functions import col
# df.select(col('caR'),col('cylINDers')).show(truncate=False)
### CASE 1: Adding a new column
### We will add a new column called 'first_column' at the end
from pyspark.sql.functions import lit
df = df.withColumn('first_column',lit(1))
### lit means literal. It populates the row with the literal value given.
### When adding static data / constant values, it is a good practice to use it.
# df.show(5,truncate=False)
# CASE 2: Adding multiple columns
# We will add two new columns called 'second_column' and 'third_column' at the end
df = df.withColumn('second_column', lit(2)) \
       .withColumn('third_column', lit('Third Column'))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
# df.show(5,truncate=False)
# CASE 3: Deriving a new column from an exisitng one
# We will add a new column called 'car_model' which has the value of car and model appended together with a space in between 
from pyspark.sql.functions import concat
df = df.withColumn('car_model', concat(col("Car"), lit(" "), col("model")))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
# df.show(5,truncate=False)
#Renaming a column in PySpark
df = df.withColumnRenamed('first_column', 'new_column_one') \
       .withColumnRenamed('second_column', 'new_column_two') \
       .withColumnRenamed('third_column', 'new_column_three')
# df.show(truncate=False)

# Group By a column in PySpark
# df.groupBy('Origin').count().show(5)

# Group By multiple columns in PySpark
df.groupBy('Origin', 'Model').count().show(5)
#Remove columns in PySpark
df = df.drop('new_column_one')
# df.show(5,truncate=False)

#Remove multiple columnss in one go
df = df.drop('new_column_two') \
       .drop('new_column_three')
# df.show(5,truncate=False)


# Filtering rows in PySpark
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
europe_filtered_count = df.filter(col('Origin')=='Europe').count()
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)
# Filtering rows in PySpark based on Multiple conditions
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
europe_filtered_count = df.filter((col('Origin')=='Europe') &
                                  (col('Cylinders')==4)).count() # Two conditions added here
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 66
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|car_model                      |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090.0|17.5        |70   |Europe|Citroen DS-21 Pallas 70        |
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835.0|20.5        |70   |Europe|Volkswagen 1131 Deluxe Sedan 70|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672.0|17.5        |70   |Europe|Peugeot 504 70                 |
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430.0|14.5        |70   |Europe|Audi 100 LS 70                 |
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375.0|17.5        |70   |Europe|Saab 99e 70                    |
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234.0|12.5        |70   |Europe|BMW 2002 70                    |
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978.0|20.0        |71   |Europe|Volkswagen Super Beetle 117 71 |
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123.0|14.0        |71   |Europe|Opel 1900 71                   |
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074.0|19.5        |71   |Europe|Peugeot 304 71                 |
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065.0|14.5        |71   |Europe|Fiat 124B 71                   |
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834.0|19.0        |71   |Europe|Volkswagen Model 111 71        |
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254.0|23.5        |72   |Europe|Volkswagen Type 3 72           |
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933.0|14.5        |72   |Europe|Volvo 145e (sw) 72             |
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511.0|18.0        |72   |Europe|Volkswagen 411 (sw) 72         |
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979.0|19.5        |72   |Europe|Peugeot 504 (sw) 72            |
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189.0|18.0        |72   |Europe|Renault 12 (sw) 72             |
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950.0|21.0        |73   |Europe|Volkswagen Super Beetle 73     |
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265.0|15.5        |73   |Europe|Fiat 124 Sport Coupe 73        |
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867.0|19.5        |73   |Europe|Fiat 128 73                    |
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158.0|15.5        |73   |Europe|Opel Manta 73                  |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------------------------+
only showing top 20 rows